body {

    background-color: #f5f5f5;
}
.box {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;


}

.well{
    background-color: #b5e0ff;
    text-align: center;
}
.btn-primary{
    text-align: center;
}